body {
    font-family: Arial, sans-serif;
    background-color: #262833;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

h1,
h2 {
    color: #39e991;
    border-bottom: 2px solid #9eb0ff;
    margin: 0;
}

h3,
p {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #5171FF;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

header,
footer {
    background-color: #262833;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    border: 2px solid #9eb0ff;
    border-radius: 8px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-top: 50px;
    background-color: #14151d;
    padding: 20px;
    border-radius: 8px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #39e991;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: fit-content;
}

button:hover {
    background-color: #9eb0ff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
    color: #262833;
}

table th,
table td {
    border: 1px solid #39e991;
    padding: 10px;
    text-align: left;
    font-size: 10px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #39e991;
    border-radius: 4px;
}

form button {
    background-color: #39e991;
    color: #ffffff;
}

footer {
    margin-top: 20px;
    background-color: #262833;
    padding: 10px;
    color: #9eb0ff;
}

img {
    max-width: 100%;
    height: auto;
}

span {
    color: #39e991;
}

code {
    background-color: #5171FF;
    color: #ffffff;
    padding: 2px 4px;
    border-radius: 4px;
}